
{% extends 'surveytemplate/base.html'%}
{% load static %}

{% block content %}
<div class="d-flex flex-column-fluid"></div>
<div class="container">
<div class="row"></div>
<div class="card card-custom gutter-b">
	<div class="card-header flex-wrap py-3">
		<div class="card-title">
			<h3 class="card-label">
				Groups
				<span class="d-block text-muted pt-2 font-size-sm">My Groups</span>
			</h3>
		</div>
		<div class="card-toolbar">
			<!--begin::Dropdown-->
<!-- <div class="dropdown dropdown-inline mr-2">
	<button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="svg-icon svg-icon-md"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"/>
        <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"/>
    </g> -->
<!-- </svg></span>		Export
	</button> -->

	<!--begin::Dropdown Menu-->
	<!-- <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"> -->
		<!--begin::Navigation-->
		<!-- <ul class="navi flex-column navi-hover py-2">
			<li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
		        Choose an option:
		    </li>
			<li class="navi-item">
				<a href="#" class="navi-link">
					<span class="navi-icon"><i class="la la-print"></i></span>
					<span class="navi-text">Print</span>
				</a>
			</li>
			<li class="navi-item">
				<a href="#" class="navi-link">
					<span class="navi-icon"><i class="la la-copy"></i></span>
					<span class="navi-text">Copy</span>
				</a>
			</li>
			<li class="navi-item">
				<a href="#" class="navi-link">
					<span class="navi-icon"><i class="la la-file-excel-o"></i></span>
					<span class="navi-text">Excel</span>
				</a>
			</li>
			<li class="navi-item">
				<a href="#" class="navi-link">
					<span class="navi-icon"><i class="la la-file-text-o"></i></span>
					<span class="navi-text">CSV</span>
				</a>
			</li>
			<li class="navi-item">
				<a href="#" class="navi-link">
					<span class="navi-icon"><i class="la la-file-pdf-o"></i></span>
					<span class="navi-text">PDF</span>
				</a>
			</li>
		</ul> -->
		<!--end::Navigation-->
	<!-- </div> -->
	<!--end::Dropdown Menu-->
<!-- </div> -->
<!--end::Dropdown-->

<!--begin::Button-->
<a href="{% url 'create-group' %}" class="btn btn-primary font-weight-bolder">
	<span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <circle fill="#000000" cx="9" cy="15" r="6"/>
        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"/>
    </g>
</svg><!--end::Svg Icon--></span>	Create Group
</a>
<!--end::Button-->
		</div>
	</div>
	<div class="card-body">
		<!--begin: Datatable-->
		<table class="table table-bordered table-checkable" id="kt_datatable">
			                    <thead>
                              <tr>
                                              <th>Group Name</th>
                                              <th>Created On</th>
                                              <th>Modified On</th>
                                              <th>Action</th>
                                </tr>
                    </thead>
                    <tbody>
                        {% for recp in page_obj %}
                        <tr>
                                          <td>{{ recp.group_name }}</td>
                                          <td>{{ recp.created_on }}</td>
                                          <td>{{ recp.modified_on }}</td>
                                          <td><a href="{% url 'group-view' pk=recp.id %}" class="btn btn-primary">View Group </a>&nbsp &nbsp
                                                <a href="{% url 'edit-group' pk=recp.id %}"><i class="fas fa-edit text-success mr-5"></i></a> &nbsp       
                                                <a href ="{% url 'delete-group' pk=recp.id %}"><i class="fad fa-trash text-danger mr-5"></i>
                                                </a>
                                        </td>
                                          <!-- <td nowrap></td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--end: Datatable-->
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="kt_datatable_2_info" role="status" aria-live="polite">Showing {{page_obj.start_index}} to {{page_obj.end_index}} of {{page_obj.paginator.count}} entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 dataTables_pager">
                        <!-- <div class="dataTables_length" id="kt_datatable_2_length">
                            <label>Display <select name="kt_datatable_2_length" aria-controls="kt_datatable_2" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select></label>
                        </div> -->
                        <div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_2_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous " id="kt_datatable_2_previous">
                                    {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-controls="kt_datatable_2" data-dt-idx="0" tabindex="0" class="page-link">
                                        <i class="ki ki-arrow-back"></i>
                                    </a>
                                    {% else %}
                                    <a href="" aria-controls="kt_datatable_2" data-dt-idx="0" tabindex="0" class="page-link disabled">
                                        <i class="ki ki-arrow-back"></i>
                                    </a>
                                    {% endif %}
                                
                                </li>
                                <!-- {{ request.get_full_path }}  -->
                                {% for p in page_obj.paginator.page_range %}
                                <li class="paginate_button page-item {% if page_obj.number == p %}active{% endif %}">
                                    <a href="{{ request.path }}?page={{p}}"  aria-controls="kt_datatable_2" data-dt-idx="1" tabindex="0" class="page-link ">{{p}}</a>
                                </li>
                                {% endfor %}
                                <li class="paginate_button page-item next" id="kt_datatable_2_next">
                                    {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-controls="kt_datatable_2" data-dt-idx="8" tabindex="0" class="page-link">
                                        <i class="ki ki-arrow-next"></i>
                                    </a>
                                    {% else %}
                                    <a href="" aria-controls="kt_datatable_2" data-dt-idx="8" tabindex="0" class="page-link disabled">
                                        <i class="ki ki-arrow-next"></i>
                                    </a>
                                    {% endif %}
                                </li> 
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
            </div>
            <!--end::Content-->
        
{% endblock %}

{% block script %}

<script>
    var KTAppSettings = {
"breakpoints": {
"sm": 576,
"md": 768,
"lg": 992,
"xl": 1200,
"xxl": 1400
},
"colors": {
"theme": {
    "base": {
        "white": "#ffffff",
        "primary": "#3699FF",
        "secondary": "#E5EAEE",
        "success": "#1BC5BD",
        "info": "#8950FC",
        "warning": "#FFA800",
        "danger": "#F64E60",
        "light": "#E4E6EF",
        "dark": "#181C32"
    },
    "light": {
        "white": "#ffffff",
        "primary": "#E1F0FF",
        "secondary": "#EBEDF3",
        "success": "#C9F7F5",
        "info": "#EEE5FF",
        "warning": "#FFF4DE",
        "danger": "#FFE2E5",
        "light": "#F3F6F9",
        "dark": "#D6D6E0"
    },
    "inverse": {
        "white": "#ffffff",
        "primary": "#ffffff",
        "secondary": "#3F4254",
        "success": "#ffffff",
        "info": "#ffffff",
        "warning": "#ffffff",
        "danger": "#ffffff",
        "light": "#464E5F",
        "dark": "#ffffff"
    }
},
"gray": {
    "gray-100": "#F3F6F9",
    "gray-200": "#EBEDF3",
    "gray-300": "#E4E6EF",
    "gray-400": "#D1D3E0",
    "gray-500": "#B5B5C3",
    "gray-600": "#7E8299",
    "gray-700": "#5E6278",
    "gray-800": "#3F4254",
    "gray-900": "#181C32"
}
},
"font-family": "Poppins"
};
</script>
<!--end::Global Config-->

<!--begin::Global Theme Bundle(used by all pages)-->
           <script src="{% static 'surveytemplate/assets/plugins/global/plugins.bundle.js' %}"></script>
           <script src="{% static 'surveytemplate/assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
           <script src="{% static 'surveytemplate/assets/js/scripts.bundle.js'%}"></script>
        <!--end::Global Theme Bundle-->

            <!--begin::Page Vendors(used by this page)-->
                    <script src="{% static 'surveytemplate/assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
                <!--end::Page Vendors-->

            <!--begin::Page Scripts(used by this page)-->
                    <script src="{% static 'surveytemplate/assets/js/pages/crud/datatables/basic/basic.js' %}"></script>
                <!--end::Page Scripts-->
{% endblock %}
