{% extends 'surveytemplate/base.html' %}
{% load static %}
{% block style %}
<link href="{% static 'surveytemplate/assets/plugins/custom/datatables/datatables.bundle.css'%}" rel="stylesheet" type="text/css"/>
<!--end::Page Vendors Styles-->
{% endblock %}
{% block content %}
<!-- <h1>Recepients</h1>
<ul>
{% for recp in object_list %}
    <li>{{ recp.first_name }} - {{ recp.last_name }} --{{recp.email}}- {{ recp.address }}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul> -->
<div class="d-flex flex-column-fluid"></div>
<div class="container">
<div class="row"></div>
<div class="card card-custom gutter-b">
	<div class="card-header flex-wrap py-3">
		<div class="card-title">
			<h3 class="card-label">
				Recepients
				<span class="d-block text-muted pt-2 font-size-sm">All recepients</span>
			</h3>
		</div>
        <!-- search -->
        <!-- <div class="col-md-4 my-2 my-md-0">
            <div class="input-icon">
                <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query">
                <span><i class="flaticon2-search-1 text-muted"></i></span>
            </div>
        </div>
        <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
			<a href="#" class="btn btn-light-primary px-6 font-weight-bold" id="searchbutton">
				Search
			</a>
		</div> -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="get" action="{% url 'search' %}">
            {% csrf_token %}  
            <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search Recepients here..."
                      aria-label="Search" aria-describedby="basic-addon2" name="searched" required>
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                          <i class="fas fa-search fa-sm"></i>
                      </button>
                  </div>
              </div>
          </form>
        <!-- end of search -->
        <div class="card-toolbar">
        <a href="" class="btn btn-primary font-weight-bolder">
            <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <circle fill="#000000" cx="9" cy="15" r="6"/>
                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"/>
            </g>
        </svg><!--end::Svg Icon--></span>	Add Recepient
        </a>
    </div>
		</div>
	</div>
	<div class="card-body">
		<!--begin: Datatable-->
		<table class="table table-bordered table-checkable" id="kt_datatable">
			                    <thead>
                              <tr>
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Email</th>
                                              <th>Address</th>
                                              <th>Is Active</th>
                                              <th>Group Label</th>
                                              <!-- <th>Action</th> -->
                                  </tr>
                    </thead>
                    <tbody>
                        {% for recp in page_obj %}
                        <tr>
                                          <td>{{ recp.first_name }}</td>
                                          <td>{{ recp.last_name }}</td>
                                          <td>{{ recp.email }}</td>
                                          <td>{{ recp.address }}</td>
                                          <td>{{ recp.is_active }}</td>
                                            
                                          <td>{% for g in recp.get_group %}
                                              {{ g }}
                                              {% endfor %}
                                            </td>
                                          
                                            <!-- <td>
                                                <a href=""><i class="fas fa-edit text-success mr-5"></i></a> &nbsp       
                                                <a href =""><i class="fad fa-trash text-danger mr-5"></i>
                                                </a>
                                             </td> -->
                                          <!-- <td nowrap></td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--end: Datatable-->
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="kt_datatable_2_info" role="status" aria-live="polite">Showing {{page_obj.start_index}} to {{page_obj.end_index}} of {{page_obj.paginator.count}} entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 dataTables_pager">
                        <!-- <div class="dataTables_length" id="kt_datatable_2_length">
                            <label>Display <select name="kt_datatable_2_length" aria-controls="kt_datatable_2" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select></label>
                        </div> -->
                        <div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_2_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous " id="kt_datatable_2_previous">
                                    {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-controls="kt_datatable_2" data-dt-idx="0" tabindex="0" class="page-link">
                                        <i class="ki ki-arrow-back"></i>
                                    </a>
                                    {% else %}
                                    <a href="" aria-controls="kt_datatable_2" data-dt-idx="0" tabindex="0" class="page-link disabled">
                                        <i class="ki ki-arrow-back"></i>
                                    </a>
                                    {% endif %}
                                
                                </li>
                                <!-- {{ request.get_full_path }}  -->
                                {% for p in page_obj.paginator.page_range %}
                                <li class="paginate_button page-item {% if page_obj.number == p %}active{% endif %}">
                                    <a href="{{ request.path }}?page={{p}}"  aria-controls="kt_datatable_2" data-dt-idx="1" tabindex="0" class="page-link ">{{p}}</a>
                                </li>
                                {% endfor %}
                                <li class="paginate_button page-item next" id="kt_datatable_2_next">
                                    {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-controls="kt_datatable_2" data-dt-idx="8" tabindex="0" class="page-link" >
                                        <i class="ki ki-arrow-next"></i>
                                    </a>
                                    {% else %}
                                    <a href="" aria-controls="kt_datatable_2" data-dt-idx="8" tabindex="0" class="page-link disabled">
                                        <i class="ki ki-arrow-next"></i>
                                    </a>
                                    {% endif %}
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
            </div>
            <!--end::Content-->

{% endblock %}

{% block script %}
<script>
    $(document).on('click', '#searchbutton', () => {
     document.getElementById("").action = document.querySelector('#createfolder').href
     });
</script>
<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>
    var KTAppSettings = {
"breakpoints": {
"sm": 576,
"md": 768,
"lg": 992,
"xl": 1200,
"xxl": 1400
},
"colors": {
"theme": {
    "base": {
        "white": "#ffffff",
        "primary": "#3699FF",
        "secondary": "#E5EAEE",
        "success": "#1BC5BD",
        "info": "#8950FC",
        "warning": "#FFA800",
        "danger": "#F64E60",
        "light": "#E4E6EF",
        "dark": "#181C32"
    },
    "light": {
        "white": "#ffffff",
        "primary": "#E1F0FF",
        "secondary": "#EBEDF3",
        "success": "#C9F7F5",
        "info": "#EEE5FF",
        "warning": "#FFF4DE",
        "danger": "#FFE2E5",
        "light": "#F3F6F9",
        "dark": "#D6D6E0"
    },
    "inverse": {
        "white": "#ffffff",
        "primary": "#ffffff",
        "secondary": "#3F4254",
        "success": "#ffffff",
        "info": "#ffffff",
        "warning": "#ffffff",
        "danger": "#ffffff",
        "light": "#464E5F",
        "dark": "#ffffff"
    }
},
"gray": {
    "gray-100": "#F3F6F9",
    "gray-200": "#EBEDF3",
    "gray-300": "#E4E6EF",
    "gray-400": "#D1D3E0",
    "gray-500": "#B5B5C3",
    "gray-600": "#7E8299",
    "gray-700": "#5E6278",
    "gray-800": "#3F4254",
    "gray-900": "#181C32"
}
},
"font-family": "Poppins"
};
</script>
<!--end::Global Config-->

<!--begin::Global Theme Bundle(used by all pages)-->
           <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
           <script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
           <script src="{% static 'assets/js/scripts.bundle.js"></script>
        <!--end::Global Theme Bundle-->

            <!--begin::Page Vendors(used by this page)-->
                    <script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
                <!--end::Page Vendors-->

            <!--begin::Page Scripts(used by this page)-->
                    <script src="{% static 'assets/js/pages/crud/datatables/basic/basic.js' %}"></script>
                <!--end::Page Scripts-->
{% endblock %}