{% extends "surveytemplate/base.html" %}
{% load static %}
{% block styles %} 
 
<!--begin::Page Vendors Styles(used by this page)-->
<link href="{% static 'surveytemplate/assets/plugins/custom/datatables/datatables.bundle.css'%}" rel="stylesheet" type="text/css"/>
<!--end::Page Vendors Styles-->
{% endblock %}


{% block content %}  
<div class="container">
<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap py-5">
		<div class="card-title">
			<h3 class="card-label">
				Email Groups
				<span class="text-muted pt-2 font-size-sm d-block">Select the Groups</span>
			</h3>
		</div>
		
	</div>
	<div class="card-body">
		<!--begin::Form-->
	<form method="POST">
        {% csrf_token %}
		<div class="card-body">
            {% for record in object_list%}
            <div class="form-check">
                
                <input class="form-check-input" type="checkbox" value={{record.id}} id="flexCheckIndeterminate" name="group">&nbsp;
                <label class="form-check-label" for="flexCheckIndeterminate">
                    {{record}}
                </label>
                
              </div>
              {% endfor %}
			{% comment %} <div class="form-group">
				<label for="exampleSelect1">Select Groups <span class="text-danger">*</span></label>
				<select class="form-control" id="exampleSelect1" name="template">
                    {% for record in object_list%}
					<option>{{record}}</option>
					{% endfor %}
				</select>
			</div> {% endcomment %}
		
		</div>
	<div class= "container">
		<div class="row">
			<div class="col">
				<label for="exampleSelect1">Specify Number of Days After Now to Send the Emails <span class="text-danger">*</span></label>
				<input type = "number" required value="" name = 'days'>
			  </div>
			  <div class="col">
				<label for="exampleSelect1">Specify Number of Hours After Now to Send the Emails <span class="text-danger">*</span></label>
				<input type = "number" required value="" name = 'hours'>
			  </div>
			
		</div>
	</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary mr-2" >Next</button>
			<button type="button" class="btn btn-secondary">Cancel</button>
		</div>
	</form>
	<!--end::Form-->
	
</div>
<!--end::Card-->  
</div>
{% endblock %}

{% block scripts %}
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'surveytemplate/assets/plugins/custom/datatables/datatables.bundle.js'%}"></script>
<!--end::Page Vendors-->

<!--begin::Page Scripts(used by this page)-->
    <script src="{% static 'surveytemplate/assets/js/pages/crud/datatables/advanced/multiple-controls.js'%}"></script>
<!--end::Page Scripts-->

{% endblock %}